body {
    text-align: right;
    background: black;
    color: white;
  }
  h1,h2 {
    text-align: right;
    color: red;
    font-family: arial;
  }
  em {
    color: rgb(0, 255, 21);
  }
  @media print {
    em {
    color: rgb(0, 255, 42);
  }
    body {
    background:none;
      color: black;   
  }
    h1, h2{
      color: black;  
    }
  title {display:none;}
  }